
<div class="top-bar">
    <form class="form-horizontal" action="javascript:void(0);">
        <div class="form-group from-group-sm" style="margin-bottom: 5px; margin-left: 0; margin-right: 0;">
            <div class="col-xs-5"></div>
            <label class="col-xs-3 control-label" style="  text-align: right; padding-top: 7px;">Configuration:</label>
            <div class="col-xs-4"  style="margin-right: 0;">
                <select class="form-control" ng-model="selectedConfig" 
                    ng-change="configSelected()" ng-options="config.name for config in configs" />
            </div>
        </div>
    </form>
</div>
<div class="grid-container">

    <div class="grid-item" id="folder-menu">
    </div>

    <div class="grid-item" id="file-menu">
        <ul ng-if="files.length > 0">
            <li ng-repeat="file in files">{{ file.name }}</li>
        </ul>
    </div>
    
</div>